name: on-push
on: [push]
env:
  MIX_ENV: test
jobs:
  build:
    runs-on: ubuntu-24.04
    # See https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
    strategy:
      matrix:
        include:
          - pair:
              otp: 27.x
              elixir: 1.17.x
              lint: lint

          - pair:
              otp: 26.x
              elixir: 1.17.x
          - pair:
              otp: 26.x
              elixir: 1.16.x
          - pair:
              otp: 26.x
              elixir: 1.15.x

          - pair:
              otp: 25.x
              elixir: 1.17.x
          - pair:
              otp: 25.x
              elixir: 1.16.x
          - pair:
              otp: 25.x
              elixir: 1.15.x
          - pair:
              otp: 25.x
              elixir: 1.14.x

          - pair:
              otp: 24.x
              elixir: 1.16.x
          - pair:
              otp: 24.x
              elixir: 1.15.x
          - pair:
              otp: 24.x
              elixir: 1.14.x
    steps:
      - uses: actions/checkout@v4
        name: "Checkout"
      - uses: erlef/setup-beam@v1
        name: "Setup Elixir"
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}
      - uses: rrainn/dynamodb-action@v4.0.0
      - run: mix deps.get
      - run: mix compile
      - run: mix format --check-formatted
        if: matrix.lint # Only check formatting with the latest version
      - run: mix dialyzer
        if: matrix.elixir # Only check dialyzer with latest version
      - run: mix test
